# history
.idea
.git
.pytest_cache
.vscode

# build
*.gch
*.so
*.py[cod]
*.db
.nfs*
hictools/utils/cnumtools.cpp
dist
build
hictools.egg-info
*__pycache__*

# test
benchmark/download/
benchmark/test.mcool
test/data/Rao2014-K562-MboI-allreps-filtered.10kb.mcool
test/data/Rao2014-K562-MboI-allreps-filtered.10kb.cool
deprecated.py