setuptools
colorama
Click

# api
scipy
numpy
pandas
sklearn
statsmodels
scikit-learn
cooler

# hgserver
uvloop
ujson
watchgod
SQLAlchemy
databases
uvicorn
fastapi
starlette
slugid
aiosqlite
clodius


